/* Popup Page */
#wrapper {
    margin: 20px 0px;
    height: 300px;
    width: 200px;
    outline: none;
}
#recs {
    list-style: none;
}


/* Options Page */
#names {
    list-style: none;
}

#names li {
    width: 12%;
}

#names li:nth-child(2n) {
    background: rgb(235, 235, 235);
}

span {
    font-size: .8rem;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: super;
}

img:hover {
    background: red;
    border-radius: 5px;
    cursor: pointer;
}